.favorites {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  padding: 2rem;
}

.favorites__title {
  max-width: 1200px;
  margin-inline: auto;
  font-weight: 400;
  border-left: 5px solid rgba(0, 0, 0, 0.498);
  padding-left: 1rem;
  color: rgb(56, 56, 56);
}
