.settings__wrapper {
  display: flex;
  width: 850px;
  height: 700px;
  margin: 40px auto 0 auto;
  box-shadow: 0px 6px 16px rgba(98, 100, 108, 0.5);
}

.settings__left {
  width: 260px;
  background-color: #6c63ff;
  padding-left: 2rem;
}

.settings__menu {
  margin-top: 150px;
}

.settings__menu-item {
  list-style: none;
  margin-bottom: 37px;
  font-size: 17px;
  letter-spacing: 0.7px;
}

.settings__icon {
  padding-top: 6px;
}

.settings__text {
  color: #fff;
  padding-left: 10px;
  padding-top: 11px;
  position: absolute;
}

.settings__right {
  width: 590px;
}

.settings__title {
  color: #888cbd;
  letter-spacing: 0.79px;
  margin-left: 25px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.settings__avatar {
  margin-left: 5px;
}

.settings__subtitle {
  color: #888cbd;
  opacity: 0.7;
  letter-spacing: 0.5px;
  width: 85px;
  font-size: 0.9rem;
  margin: 0 0 0 49px;
}

.settings__form {
  margin-left: 200px;
  margin-top: -150px;
  margin-bottom: 40px;
  width: 310px;
}

.settings__field {
  padding-bottom: 25px;
}

.settings__field:last-child {
  padding-bottom: 15px;
}

.settings__input {
  padding-bottom: 5px;
  padding-top: 16px;
  margin-left: 0px;
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  border-bottom: 2px solid #eaeaea;
  letter-spacing: 0.29px;
  color: #292b43;
  font-size: 0.95rem;
  font-weight: 600;
}

.settings__bottom {
  margin-left: 200px;
}

.settings__button {
  width: 150px;
  height: 45px;
  bottom: 20px;
  border: none;
}

.settings__button--left {
  margin-right: 5px;
  background-color: #6c63ff;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.settings__button--right {
  margin-left: 5px;
  background-color: #eaeaea;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 300;
  color: #7376a3;
  opacity: 0.8;
}

.settings__button:hover {
  cursor: pointer;
}

.settings__button:focus {
  outline: 0;
}
