.reviewers__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 50px auto;
  padding: 20px;
  gap: 2rem;
  border-radius: 25px;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  text-align: left;
}
.reviewers__card-list .card-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}
.reviewers__card-list .card-item:hover {
  border: 2px solid #000;
}

.reviewers__card-list .card-details {
  margin-top: auto;
}

.reviewers__card-list .card-details__author {
  font-weight: 200;
  color: black;
}

.reviewers__card-list .card-details__author strong {
  font-weight: 400;
}

.image-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-loader-container .loading {
  display: none;
}

.image-loader-container .loaded {
  display: block;
}

.reviewers__card-list .card-item img,
.image-loader-container {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.reviewers__card-list .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.reviewers__card-list .tags span {
  display: inline-block;
  background: #f7dff5;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}
.reviewers__card-list .tags .pink {
  background-color: #f7dff5;
  color: #b22485;
}
.reviewers__card-list .tags .blue {
  background-color: #d1e8ff;
  color: #2968a8;
}
.reviewers__card-list .tags .green {
  background-color: #d6f8d6;
  color: #205c20;
}
.card-item h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}
.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}
.reviewers__card-list .card-item:hover .arrow {
  background: #000;
  color: #fff;
}
@media (max-width: 1200px) {
  .reviewers__card-list .card-item {
    padding: 15px;
  }
}
