.reviewers {
  /* border: 2px solid red; */
  /* background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */
  padding-block: 2rem;
}

.reviewers__nav {
  max-width: 1250px;
  margin-inline: auto;
  border-radius: 50px;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.reviewers__links {
  /* border: 1px solid blue; */
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
  height: inherit;
  flex-wrap: wrap;
}

.reviewers__link {
  color: black;
  text-decoration: none;
}

.reviewers__link:hover {
  color: #877dfa;
}
